@font-face {
  font-family: "DS-Digital";
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot");
  src: url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital")
      format("svg");
}
@mixin display-style($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
}

body {
  background: #d9d9d9;
}
.App {
  @include display-style(column);
  height: 100vh;
  margin: 0;
  & h1 {
    margin-bottom: 30px;
    font-family: DS-Digital;
    font-size: 45px;
  }
}
.container {
  @include display-style(column);
  width: 320px;
  height: 390px;
  border: 2px solid black;

  .buttons {
    position: relative;

    button {
      position: relative;
      width: 80px;
      height: 65px;
      color: white;
      font-size: 20px;
      background: #4d4d4d;
      border: none;
      outline: 0.05em solid black;
      &:hover {
        color: black;
        outline: 0.05em solid grey;
        z-index: 3;
      }
    }

    .operator {
      background: #b3b3b3;
    }
    .zero {
      width: 160px;
    }
    .ac {
      width: 160px;
      background: red;
    }
    .dblheight {
      height: 130px;
      position: absolute;
    }
  }
}

.display {
  height: 65px;
  width: 320px;
  font-family: DS-Digital;
  font-size: 25px;
  color: white;
  background: black;
  text-align: right;

  & p {
    padding-right: 10px;
    margin-top: 20px;
  }
}
